/* SPDX-FileCopyrightText: 2024-2025 Tobias Leupold <tl at stonemx dot de>

   SPDX-License-Identifier: CC-BY-4.0 */

body {
    text-size-adjust: none;
}

hr {
    border: none;
    height: 1px;
    background-color: black;
}

button {
    width: 6em;
}

div.bar {
    height: 1em;
}

div.inner_bar {
    float: left;
    text-align: right;
}

div.low {
    background-color: silver;
}

div.one_phase {
    background-color: yellow;
}

div.three_phases {
    background-color: gold;
}

div.meter {
    border-right: 1px solid black;
}

table.lines {
    border-spacing: 0;
}

table.lines td {
    border-top: 1px solid black;
    padding: 0.4em;
}

table.lines tr:first-child td {
    border-top: none;
}

input.percent {
    width: 3.5em;
}

#start_button {
    white-space: nowrap;
    min-width: max-content;
}

#request_failed {
    display: none;
}

#remove_limit {
    margin-top: 1em;
}

button {
    margin: 0.3em 0;
    padding: 0.5em 1em 0.5em 1em;
}
